$primary: #1f6036;
$secondary: #003412;
$light: #f2f2f2;
$color-1: #038c33;
$color-2: #add9bd;
$color-3: #8fbf26;

.text-1{
    color: $color-1;
}
.text-secondary{
    color: $secondary !important;
    span{
        color: $color-3;
    }
}
.btn-1 {
    background-color: $color-1 !important;
    color: $light !important;
    border-radius: 3.33px;

    &:hover {
        opacity: 0.8;
    }
}

.btn-2 {
    background-color: $color-2;
    color: $primary;
}


