@import './variables';

// header
header{
    li {
        font-size: 13px;
    }
}

// navbar
.bg-green {
    background-color: $secondary !important;

    ul {
        li {
            margin: 0 0.3rem;

            a {
                color: #fff !important;
                padding: 0.8rem 2rem;
                font-size: 16px;

                &:hover {
                    color: $primary !important;
                }
            }
        }

    }
}

// counter section
.section-1 {
    background: #fff;
    overflow: hidden;
    .text-1{
        position: relative !important;
        .mask{
            width: 12rem;
            height: 12rem;
            position: absolute;
            right: -13rem;
            top: 40%;
        }
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            max-width: 23rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        .mask{
            position: absolute;
            width: 12rem;
            height: 12rem;
            right: 0;
            top: -1.5rem;
        }
    }
    a{
        font-size: 14px;
        padding: 0.6rem 1.8rem;
    }
    
}

// feature section
.section-2 {
    height: 100%;

    .container {
        .inner-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1.5rem;
            column-gap: 1.5rem;
            padding-bottom: 3rem !important;
        }
    }

    // feature card
    .card {
        display: flex;
        flex-direction: row !important;

        .container {
            display: flex !important;
            align-items: center;
        }

        .img-wrapper {
            flex: 0.18;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            border: 2px dashed crimson;
        }

        .card-body {
            flex: 0.82 !important;
        }

    }
}

// about section
.section-3{
    background: #fff;
    overflow: hidden;
    .py-5{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    li{
        list-style: none;
    }
    a{
        padding: 0.6rem 1.8rem;
        font-size: 14px;
    }
    .cont{
        border-radius: 0px 0px 0px 50px;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 400px;
        background: #6a8f75;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
        .mask{
            position: absolute;
            width: 15rem;
            height: 15rem;
            left: -4rem;
            bottom: -4rem;
        }
    }
}